.C-textbox {
    width: 55%;
}

/* input css */
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #181818;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #f2ca52, #f28a2d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #a12929;
    font-weight: 700;
  }
  .C-textarea{
    padding: 140px 0;
  }
  #mesege{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #181818;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  
  /* demo */
.submit-btn{
    position: relative;
}

/* input css */

.C-imgbox{
    background: #a12929;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    border-radius: 10px;
}
.C-imgbox img{
    width: 15%;
}
.C-imgbox p {
    color: #fff;
}
.C-line{
    width: 25%;
    height: 650px;
    background: #f2ca52;
    position: absolute;
    bottom: -35%;
    left: 62%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.icon-box img{
  width: 50px;
  margin: 20px;
}
.T-logo{
  width: 30px !important;
}


@media (max-width:1000px){
  .C-textbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.C-imgbox {
  width: 100%;
  padding: 40px;
}
.C-line {
  width: 100%;
  height: auto;
  background: #f2ca52;
  position: relative;
  bottom: 0;
  left: 0;
}
}
